<form>
    <h1>Atualizando Tarefa</h1>

    <mat-form-field class="dataFim" appearance="fill">
        <mat-label>Data para finalizar</mat-label>
        <input [(ngModel)]="todo.dataParaFinalizar" name="todo.dataParaFinaliza" matInput [matDatepicker]="dp3" disabled>
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
    </mat-form-field>

    <div class="forms">
        <mat-form-field class="form" appearance="fill">
            <mat-label>Título</mat-label>
            <input [(ngModel)]="todo.titulo" name="todo.titulo" matInput placeholder="Ex. Estudar" autocomplete="off">
        </mat-form-field>
    
        <mat-form-field class="form" appearance="fill">
            <mat-label>Descrição</mat-label>
            <input [(ngModel)]="todo.descricao" name="todo.descricao" matInput placeholder="Ex. Estudar Angular" autocomplete="off">
        </mat-form-field>
    </div>

    <div class="buttons">
        <button (click)="update()" mat-raised-button color="primary">Atualiar tarefa</button>
        <button (click)="cancel()" mat-raised-button color="warn">Cancelar atualização</button>
    </div>
</form>
