<div class="container">
    <h1>Tarefas finalizadas</h1>
    <div class="badge">
        <button (click)="voltar()" class="mat-elevation-z8 cardBG" mat-stroked-button color="primary">Voltar</button>
    </div>

    <div class="content" *ngFor="let item of listFinished">
        <mat-card class="mat-elevation-z8 cardBG">
            <p class="txtData">
                Data para finalizar: {{item.dataParaFinalizar }}
            </p>
            <mat-card-header>
                <mat-card-title class="tittle">{{ item.titulo }}</mat-card-title>
                <mat-card-subtitle class="txtSub">{{ item.descricao }}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</div>