<form action="">
    <h1>Criando nova Tarefa</h1>

    <mat-form-field class="dataFim" appearance="fill">
        <mat-label>Data para finalizar</mat-label>
        <input matInput [matDatepicker]="dp3" disabled>
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
    </mat-form-field>

    <div class="forms">
        <mat-form-field class="form" appearance="fill">
            <mat-label>Título</mat-label>
            <input matInput placeholder="Ex. Estudar">
        </mat-form-field>
    
        <mat-form-field class="form" appearance="fill">
            <mat-label>Descrição</mat-label>
            <input matInput placeholder="Ex. Estudar Angular">
        </mat-form-field>
    </div>

    <div class="buttons">
        <button mat-raised-button color="primary">Criar tarefa</button>
        <button (click)="cancel()" mat-raised-button color="warn">Cancelar criação</button>
    </div>
</form>